[user]
  name = onigra
  email = 3280467rec@gmail.com
[color]
  # colorの設定(以下のコマンドは自動で色つける)
  ui = auto
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less

[ghq]
  root = ~/src
[alias]
  see = browse
  pr-setup = config --add remote.origin.fetch +refs/pull/*/head:refs/remotes/origin/pr/*
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
